<div class="container">
    <div class="col-md-4 text-center">
        <div class="advantage">
            <div class="adv-img">
                <img src="{{ asset('img/service/serv1.png') }}">
            </div>
            <div class="adv-comment">
                <p>Приём заказов 24 часа.</p>
            </div>
        </div>
        <div class="advantage">
            <div class="adv-img">
                <img src="{{ asset('img/service/serv2.png') }}">
            </div>
            <div class="adv-comment">
                <p>Подается авто на любое расстояние БЕСПЛАТНО.</p>
            </div>
        </div>
        <div class="advantage">
            <div class="adv-img">
                <img src="{{ asset('img/service/serv3.png') }}">
            </div>
            <div class="adv-comment">
                Бронирование без предоплаты и БЕСПЛАТНО.
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <div class="advantage">
            <div class="adv-img">
                <img src="{{ asset('img/service/serv4.png') }}">
            </div>
            <div class="adv-comment">
                <p>Фиксированная цена в выходные и праздничные дни.</p>
            </div>
        </div>
        <div class="advantage">
            <div class="adv-img">
                <img src="{{ asset('img/service/serv5.png') }}">
            </div>
            <div class="adv-comment">
                <p>Бустер для детей БЕСПЛАТНО в каждом авто класса комфорт.</p>
            </div>
        </div>
        <div class="advantage">
            <div class="adv-img">
                <img src="{{ asset('img/service/serv6.png') }}">
            </div>
            <div class="adv-comment">
                Ожидание рейса и багажа в аэропорту БЕСПЛАТНО.
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <div class="advantage">
            <div class="adv-img">
                <img src="{{ asset('img/service/serv7.png') }}">
            </div>
            <div class="adv-comment">
                <p>Фиксированная цена в выходные и праздничные дни.</p>
            </div>
        </div>
    </div>
</div>
