{% extends 'admin/main.html.twig' %}

{% block title %}Сообщения{% endblock %}

{% block content %}

{% include('admin/message/include/action.html.twig') %}

<h3>Список</h3>
<div class="table-responsive">
    <table class="table table-hover admin-control">
        <thead class="thead-dark">
            <tr>
                <th class="id">id</th>
                <th>Имя</th>
                <th>Телефон</th>
                <th>E-mail</th>
                <th>Сообщение</th>
                <th class="action">Настройки</th>
            </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr {% if message.viewedAt == false %} class="not-view" {% endif %}>
                <td class="id">{{ message.id }}</td>
                <td>{{ message.name }}</td>
                <td>{{ message.phone }}</td>
                <td>{{ message.email }}</td>
                <td>{{ message.text }}</td>
                <td class="action">
                    {% if message.viewedAt == false %}
                        <a href="{{ path('admin.message.viewed', { 'message': message.id }) }}" class="btn btn-outline-success btn-sm ml-1" title="Просмотрено">
                            <i class="fas fa-check"></i>
                        </a>
                    {% endif %}
                    <a href="{{ path('admin.message.delete', { 'message': message.id }) }}" class="btn btn-outline-danger btn-sm ml-1" title="Удалить">
                        <i class="fas fa-times"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
