{% extends 'frontend/main.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">

            <div class="container">
                <div class="section-header">
                    <h2>НАШИ <span class="highlight"><strong>Партнеры</strong></span></h2>
                </div>
            </div>

                {% for partner in partners %}
                    <div class="col-md-6">
                        <div class="partner-block">
                            <div class="partner-image">
                                <img src="{{ vich_uploader_asset(partner, 'logo') }}" alt="" style="width: 100%">
                            </div>
                            <div class="partner-content">
                                <h3>{{ partner.name }}</h3>
                                <span>{{ partner.shortInfo|slice(0,140) }}</span>
                                <a href="{{ path('frontend.partner.page', {'id':partner.id}) }}" class="partner-full">Подробнее</a>
                            </div>
                        </div>
                    </div>

                {% endfor %}

        </div>
    </div>
    {{ parent() }}
{% endblock %}


{% block javascript_vendor %}
    {{ parent() }}
    <script>
        $('a[href="#transport-class-{{ transportClasses[0].nameTranslate|default('') }}"]').tab('show')
    </script>
{% endblock %}