<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Админ-панель{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('admin/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('admin/css/select2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('admin/css/admin.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    {% block styleheist %}{% endblock %}

    <script src="{{ asset('admin/js/jquery.min.js') }}"></script>
    <script src="{{ asset('admin/js/select2.min.js') }}"></script>
    {% block javascript %}{% endblock %}
</head>
<body>

{% include('admin/include/header.html.twig') %}
<div class="container-fluid">
    <div class="row">

        {% include('admin/include/nav.html.twig') %}
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            {% block content %}{% endblock %}
        </main>
    </div>
</div>



{% block javascript_vendor %}{% endblock %}

<script src="{{ asset('admin/js/backend.js') }}"></script>
</body>
</html>