{% extends 'admin/main.html.twig' %}

{% block title %}Классы транспорта - Редактирование{% endblock %}

{% block content %}

{% include('admin/transport-class/include/action.html.twig') %}

<h2>Редактирование</h2>
<div class="table-responsive">
    {{ form_start(edit_form) }}
    <div class="box-body">
        <div class="form-group">
            {{ form_label(edit_form.name) }}
            {{ form_widget(edit_form.name, {'attr':{'class':'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(edit_form.priority) }}
            {{ form_widget(edit_form.priority, {'attr':{'class':'form-control'}}) }}
        </div>
        <input class="btn btn-success btn-sm" type="submit" value="Сохранить" />
    </div>
    {{ form_end(edit_form) }}
</div>

{% endblock %}
