{% extends 'admin/main.html.twig' %}

{% block title %}Классы транспорта - Список{% endblock %}

{% block content %}

{% include('admin/transport-class/include/action.html.twig') %}




<h3>Список</h3>
<div class="table-responsive">
    <table class="table table-hover admin-control">
        <thead class="thead-dark">
            <tr>
                <th class="id">id</th>
                <th>Название</th>
                <th>Приоритет</th>
                <th class="action">Настройки</th>
            </tr>
        </thead>
        <tbody>
        {% for transportClass in transportClasses %}
            <tr>
                <td class="id">{{ transportClass.id }}</td>
                <td>{{ transportClass.name }}</td>
                <td>{{ transportClass.priority }}</td>
                <td  class="action">

                    <a href="{{ path('admin.transport-class.edit', { 'transportClass': transportClass.id }) }}" class="btn btn-outline-primary btn-sm ml-1" title="Редактировать">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                    <a href="{{ path('admin.transport-class.delete', { 'transportClass': transportClass.id }) }}" class="btn btn-outline-danger btn-sm ml-1" title="Удалить">
                        <i class="fas fa-times"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% include('admin/transport-class/include/info.html.twig') %}

{% endblock %}
