<div class="row">
    <div class="container">
        <div class="col-md-8" style="overflow: hidden;">
            <div class="head-float-left">
                <a href="/">
                    <img class="w-75" style="height: 200px" src="{{ asset('img/template/logo2.jpg') }}">
                </a>
            </div>
            <div class="head-float-left logo-span">
                <span>КРЫМ РУЛИТ</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row block-phone">
                <div class="text-center">
                    <span class="sn-phone">
                        <b>+7 (978) 776-30-16</b>  (КРУГЛОСУТОЧНО)
                    </span>
                </div>
                <div class="text-center btns-block">
                    <i class="fab fa-whatsapp fa-2x"></i>
                    <i class="fab fa-viber fa-2x"></i>
                    <i class="fab fa-telegram-plane fa-2x"></i>
                    <button class="btn btn-primary color btn7 open-close-modal-callback" style="margin: 7px; color: #000">
                        Обратный звонок
                    </button>
                </div>
            </div>
            <nav id="tf-menu" class="navbar navbar-default center">
                <div>
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{{ path('frontend.main') }}">Главная</a></li>
                            <li><a href="{{ path('frontend.price') }}" class="scroll">Тарифы</a></li>
                            <li><a href="{{ path('frontend.cars') }}" class="scroll">Автомобили</a></li>
                            {#<li><a href="#tf-about" class="scroll">Аренда</a></li>#}
                            {#<li><a href="#tf-process" class="scroll">Отзывы</a></li>#}
                            <li><a href="{{ path('frontend.contact') }}">Контакты</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>

</div>